<!doctype html>
<html ng-app="weatherApp" lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Previsão do tempo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/previsao.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>

  <body ng-controller="weatherController">
    <section class="card" ng-class="{'active':'cardActive'}">
      <h1>{{cityName}}</h1>
      <img ng-if="iconUrl" class="icon" src="{{iconUrl}}" alt="clouds" />
      <h2>{{temperature}}°</h2>
      <p class="feels-like">Sensação térmica de <span>{{feelsLike}}°</span></p>
      <div class="min-max">
        <p>Mín: <span class="min">{{minTemperature}}°</span></p>
        <p>Máx: <span class="max">{{maxTemperature}}°</span></p>
      </div>
      <p class="humidity">Umidade <span>{{humidity}}%</span></p>
      <div class="wind">
        <img
          ng-style="{'transform':'rotate('+windOrientation+'deg)'}"
          src="./assets/images/arrow.png"
          alt="Uma seta que representa a direção do vento."
        />

        <p>
          Velocidade do vento:
          <span>{{windVelocity}}m/s</span>
        </p>
      </div>
    </section>
    <section class="input">
      <input type="text" placeholder="Busque uma cidade" ng-model="city" />
      <button type="button" ng-click="callApi()">Buscar</button>
    </section>

    <script src="./main.js"></script>
  </body>
</html>
