body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    background:#43799692;
    color:white;
    text-align:center;
    padding:25px;
}


.navbar{
    background:#437996;
    padding:15px;

    position:sticky;
    top:0;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-right:20px;
}


.container{
    display:flex;
}

.menu{
    width:20%;
    background:#f4f4f4;
    padding:20px;
}


.conteudo{
    width:80%;
    padding:20px;
}


footer{
    background:#437996;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}