* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

#status {
  margin-bottom: 2rem;
  font-weight: bold;
}

.casa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 120px;
  gap: 8px;

  background: #111;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 2rem;
}

.comodo {
  background: #1e293b;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s;
}

.comodo.ligado {
  background: #facc15;
  color: #000;
  box-shadow: 0 0 20px #facc15;
}

.controles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

button {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  background: #374151;
  color: #fff;
  transition: 0.3s;
}

button:hover {
  background: #4b5563;
}
